.page{
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
}
.usersBlock{
    display: flex;
    flex-wrap: wrap;
    width:60vw;
    margin: 0 0 50px 15vw;
    justify-content: space-between;
}
body{
    margin:0;
    overflow-x: hidden;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
button {
    margin: 4vh 0.5vw;
    border-radius: 10px;
    height: 4vh;
    border: 1px darkgrey solid;
    background: #e9defa;
    transition: 0.1s ease-in;
    width: 5vw;
}
p{
    margin:0;
}
.status{
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 2vh;
}
.name{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top:3vh;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #e9defa;
    width: 14vw;
    margin:0 1vw 15px 0;
    transition: 0.1s ease-in;
}
.user:hover{
    transform: scale(1.05);
}
button:hover{
    transform: scale(1.1);
}
.usersDiv{
    display: flex;
    flex-wrap: wrap;
    width:60vw;
    margin: 0 0 50px 0;
}
.contentBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60vw;
    margin-left: 15vw;
}
.title{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 30px;
    background: #e9defa;
    width: 59vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 3vh 1vw 2vh 0;
    height:6vh;
}
.buttonBlock{
    display: flex;
}
.view{
    margin:8vh 0 25px 150px;
    display: flex;
    flex-direction: column;
}
.favButton{
    border-radius: 60px;
    height: 8vh;
    width: 8vw;
}

