.page{
    height: 100vh;
    width:100vw;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
}
.usersBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0 50px 50px;
}
body{
    margin:0;
    overflow: hidden;
}
button {
    margin: 4vh 1vw;
    border-radius: 10px;
    height: 4vh;
    border: 1px darkgrey solid;
    background: #e9defa;
    transition: 0.1s ease-in;
    width: 5vw;
}
p{
    margin:0;
}
.status{
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 2vh;
}
.name{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top:3vh;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #e9defa;
    width: calc(20% - 10px);
    margin: 7px;
    transition: 0.1s ease-in;
}
.user:hover{
    transform: scale(1.05);
}
button:hover{
    transform: scale(1.1);
}
.usersDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}
.contentBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.buttonBlock{
    display: flex;
}
.view{
    margin:25px 25px 25px 0;
}
.favButton{
    border-radius: 60px;
    height: 8vh;
    width: 8vw;
}

