.page{
    height:100vh;
    width:100vw;
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin:0;
}
form{
    height:50vh;
    width:35vw;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: center;
}
input{
    margin:-1vh;
    height:5vh;
    width: 30vw;
    border-radius: 10px;
    border:1px darkgrey solid;
    padding-left: 15px;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}
h1{
    margin:0;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}
.buttons{
    height:5vh;
    display: flex;
}
button{
    height:5vh;
    width:10vw;
    border-radius: 10px;
    border:1px darkgrey solid;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    transition: 0.1s ease-in;
    margin:0 1vw;
}
button:hover{
    transform: scale(1.1);
}